---
layout: index
---

{% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
{% assign orderedPosts = site.devjam | sort: 'date' %}
{% for post in orderedPosts %}
{% capture posttime %}{{post.date | date: '%s'}}{% endcapture %}
{% if posttime > nowunix %}
{% if nextMeetup  == nil%}
{% assign nextMeetup = post %}
{% endif %}
{% endif %}
{% endfor %}
<div class="orange-goblin">
<div class="dev-jam">
    <a href="#">
        <img src="/images/devjam-logo.svg">
    </a>
    <div class="pay-off">
        Regular meetups for software developers. <br/><small>With food, drinks and other stuff that matters.</small>
    </div>
{% capture posttime %}{{nextMeetup.date | date: '%s'}}{% endcapture %}
{% if posttime > nowunix %}
<div class="next-meetup-title">
<a href="{{ site.baseurl }}{{ nextMeetup.url}}">{{nextMeetup.title}}</a>
</div>
<div class="next-meetup-description">
    <a href="{{ site.baseurl }}{{ nextMeetup.url}}">{{nextMeetup.description}}</a>
</div>
<div class="next-meetup-speaker">
    <a href="{{ site.baseurl }}{{ nextMeetup.url}}">by {{nextMeetup.speaker}}</a>

</div>
    <div class="next-meetup">
{% assign d = nextMeetup.date | date: "%-d"  %}
{{ nextMeetup.date | date: "%B" }}
{% case d %}
{% when '1' or '21' or '31' %}{{ d }}st{% when '2' or '22' %}{{ d }}nd{% when '3' or '23' %}{{ d }}rd{% else %}{{ d }}th{% endcase %}, {{ nextMeetup.date | date: "%Y" }} -
<a href="{{nextMeetup.locationUrl}}">{{nextMeetup.location}}</a>
{% if nextMeetup.meetupId %}
<br/>
<a href="http://www.meetup.com/Sytac-Dev-Jam/events/{{ nextMeetup.meetupId }}/" data-event="{{ nextMeetup.meetupId }}" class="mu-rsvp-btn">RSVP</a>


{% endif %}

    </div>

    {% else %}
    No meetup planned, but rest assured there'll be one soon!
{% endif %}

</div>
</div>
<div class="page-content">
  <div class="wrapper">
    <div class="home">
        <h1 class="page-heading">DevJam</h1>
        <ul class="post-list">
          {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
          {% assign orderedPosts = site.devjam | sort: 'date' %}
          {% for post in orderedPosts %}
            {% capture posttime %}{{post.date | date: '%s'}}{% endcapture %}
            {% if posttime > nowunix %}
              {% if nextMeetup  == nil%}
                {% assign nextMeetup = post %}
              {% endif %}
            {% endif %}
          {% endfor %}

          {% for post in site.devjam %}
            {% capture posttime %}{{post.date | date: '%s'}}{% endcapture %}
              {% if posttime > nowunix %}
                {% assign tense = 'future' %}
                  {% if upcoming  == nil%}
                    {% assign upcoming = post %}
          <li><h3>Upcoming meetups</h3></li>
                  {% endif %}
                  {% else %}
                    {% assign tense = 'past' %}
                    {% if previously  == nil%}
                      {% assign previously = post %}
          <li><h3>Previous meetups</h3></li>
                    {% endif %}
                  {% endif %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h2>
              <a class="post-link" href="{{ site.baseurl }}{{ post.url}}">{{ post.title }} - {{post.speaker}}</a>
            </h2>
            <span>{{post.description}}</span>
        </li>
        {% endfor %}
      </ul>
      <p class="rss-subscribe">subscribe <a href="/{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    </div>
  </div>
</div>
