<div class="bar bar-blackmetal">
  <div class="wrapper">
    <div class="mission">
      <br/>
      <h2>Here's some things we do</h2>
    </div>
  </div>
</div>
<div class="channel-bar">
  <div class="home-channels">
    <div class="channel">
      <a href="devjam">
        <img src="/images/channels/devjam-patch.png" alt="DevJam" />
        <div class="description">Regular meetups</div>
      </a>
    </div>
    <div class="channel">
      <a href="engineering">
        <img src="/images/channels/sytac-engineering.png" alt="Engineering" />

        <div class="description">Engineering articles</div>
      </a>
    </div>
    <div class="channel">
      <a href="http://hollandjs.nl">
        <img src="/images/channels/hollandjs.png" alt="Holland Js" />

        <div class="description">Dutch js event calendar</div>
      </a>
    </div>
    <div class="channel">
      <a href="http://nodeschool.io/haarlem">
        <img src="/images/channels/nodeschool-haarlem.png" alt="Nodeschool Haarlem" />

        <div class="description">Nodeschool.io education</div>
      </a>
    </div>
    <div class="channel">
      <a href="https://github.com/sytac">
        <img src="/images/channels/octodex.png" alt="GitHub" />

        <div class="description">Our code</div>
      </a>
    </div>
    <div class="channel">
      <a href="dojo/react">
        <img src="/images/channels/react-dojo.png" alt="React Dojo" />

        <div class="description">Coding react, combat style</div>
      </a>
    </div>

  </div>
</div>
