.dojo {
  blockquote {
    display: block;
    background: #fff;
    padding: 15px 20px 15px 45px;
    margin: 10px 0 20px;
    position: relative;

    /*Font*/
    font-family: Georgia, serif;
    font-size: 2.3em;
    line-height: 1.2;
    color: #666;
    text-align: justify;

    /*Borders - (Optional)*/
    border-left: 15px solid $color-orange;
    border-right: 2px solid $color-orange;

    /*Box Shadow - (Optional)*/
    -moz-box-shadow: 2px 2px 15px #ccc;
    -webkit-box-shadow: 2px 2px 15px #ccc;
    box-shadow: 2px 2px 15px #ccc;

    &::before {
      content: "\201C"; /*Unicode for Left Double Quote*/

      /*Font*/
      font-family: Georgia, serif;
      font-size: 60px;
      font-weight: bold;
      color: #999;

      /*Positioning*/
      position: absolute;
      left: 10px;
      top: 5px;
    }

    &::after {
      /*Reset to make sure*/
      content: "";
    }

    a {
      text-decoration: none;
      background: #eee;
      cursor: pointer;
      padding: 0 3px;
      color: $color-orange;

      &:hover {
        color: #666;
      }
    }
    em {
      font-style: italic;
    }
    .author {
      color: #8e8e8e;
      font-size: 80%;
    }
  }
}

.dojo-header {
  .content {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));

    margin: 0 auto;
    text-align: left;
    color: #fff;
    img {
      height: 140px;
    }
    .dojo-logo, .dojo-title {
      vertical-align: top;
      display: inline-block;
    }
    .dojo-logo {
      margin-right: 30px;
    }
    .dojo-title {
      max-width: 60%;
      h1 {
        font-size: 2.3em;
        padding-top: 0px;
        margin-bottom: 0px;
        font-weight: bold;

      }
    }
  }
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #000; //$background-color-channel;
}

.dojo-home {
  .clearfix {
    @extend %clearfix;
  }

  .item {
    clear: both;
    padding: 20px;
    margin-bottom: 30px;
    text-align: left;
    background-color: #fff;
    /*Box Shadow - (Optional)*/
    -moz-box-shadow: 2px 2px 15px #ccc;
    -webkit-box-shadow: 2px 2px 15px #ccc;
    box-shadow: 2px 2px 15px #ccc;

    border-left: 10px solid darken($background-color-channel, 20%);
    border-right: 2px solid darken($background-color-channel, 20%);
    h3 {
      float: left;
      color: $color-orange;
      font-weight: bold;
    }

    .description {
      float: left;
      box-sizing: border-box;

      width: 70%;
      margin-bottom: 20px;
      &.small {
        width: 50%;
      }

      @include media-query($on-palm) {
        &, &.small {
          width: 100%;
        }
      }

    }

    .image {
      box-sizing: border-box;
      float: right;
      width: 30%;

      &.big {
        width: 50%;
      }
      padding-left: 20px;
      @include media-query($on-palm) {
        &, &.big {
          text-align: center;
          width: 80%;
          margin-bottom: 20px;

        }
      }
    }

    &.right {
      text-align: right;
      h3 {
        float: right;
      }
      .description {
        float: right;
      }
      .image {
        float: left;
        margin-bottom: 20px;
        padding-right: 20px;
      }
    }

    &.rules {
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: 0;
      h3 {
        font-size: 1.7em;
      }
      ul {
        margin-left: 30px;
        list-style: circle;
        li {
          list-style: circle;
        }
      }
    }

  }
}
