.we-are-hiring {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 300px;
  height: 200px;
  overflow: hidden;
  .inner {
    position: absolute;
    top: 60px;
    right: 0;
    margin-right: -70px;
    width: 300px;
    height: 50px;
    font-weight: 900;
    @include rotate(45);
    font-size: 1.2em;
    text-align: center;
    line-height: 50px;
    background: #79a70a;
    background: linear-gradient(#E4D5C8 0%, #fff 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    font-variant: small-caps;
  }
}
