.home-channels {
  max-width: 650px;
  margin: 0 auto;
  padding : 10px;
  .channel {
    padding:10px;
    width: 190px;
    display: inline-block;
    vertical-align: top;
    a {
      color: #FFFFFF;
    }
    img {
      width: 150px;
      height: 150px;
    }
    .description {
      font-size: 1.3em;
    }
  }
}
