---
layout: index
---
<div class="white-cluster">
  <div class="sytac-logo">
      <a href="#">
          <!-- <embed src="images/devjam-logo.svg" type="image/svg+xml" /> -->
          <img src="/images/sytac-hexagon-long.svg">
      </a>
  </div>
</div>
<div class="orange-bar">we're proud of the following
<ul>
  <li>devjam - our meetup events</li>
  <li>dojo - coding, combat style</li>
  <li>engineering - articles</li>
  <li>oranjs.nl - all dutch js events</li>
  <li>nodeschool.io/haarlem - our nodeschool chapter</li>
  <li>github/sytac - what we create</li>
  <li>conan the librarian - Our tech resources</li>
  <li>we're hiring - yes we are </li>
</ul>

</div>
<div class="page-content">
  <div class="wrapper">
{{ content }}
  </div>
</div>
