---
layout: index
---
<div class="white-cluster">
  <div class="sytac-logo">
      <a href="#">
          <!-- <embed src="images/devjam-logo.svg" type="image/svg+xml" /> -->
          <img src="/images/sytac-hexagon-long.svg">
      </a>
  </div>
</div>
<div class="orange-bar">blocks
  <ul>
    <li><a href="devjam">devjam - our meetup events</a></li>
    <li><a href="dojo/react">react dojo - coding, combat style</a></li>
    <li><a href="engineering">engineering - articles</a></li>
    <li><a href="http://hollandjs.nl">hollandjs.nl - all dutch js events</a></li>
    <li><a href="http://nodeschool.io/haarlem">nodeschool.io/haarlem - our nodeschool chapter</a></li>
    <li><a href="https://github.com/sytac">github/sytac - what we create</a></li>
  </ul>
</div>
<div class="page-content">
  <div class="wrapper">
{{ content }}
  </div>
</div>
