---
layout: index
---
{% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
{% assign orderedPosts = site.posts | sort: 'date' %}
{% for post in orderedPosts %}
{% capture posttime %}{{post.date | date: '%s'}}{% endcapture %}
{% if posttime > nowunix %}
{% if nextMeetup  == nil%}
{% assign nextMeetup = post %}
{% endif %}
{% endif %}
{% endfor %}
<div class="orange-goblin">
<div class="dev-jam">
    <a href="#">
        <!-- <embed src="images/devjam-logo.svg" type="image/svg+xml" /> -->

        <img src="images/devjam-logo.svg">
    </a>
    <div class="pay-off">
        Regular meetups for software developers. <br/><small>With food and drinks.</small>
    </div>
{% capture posttime %}{{nextMeetup.date | date: '%s'}}{% endcapture %}
{% if posttime > nowunix %}
<div class="next-meetup-title">
<a href="{{ site.baseurl }}{{ nextMeetup.url}}">{{nextMeetup.title}}</a>
</div>
<div class="next-meetup-description">
    <a href="{{ site.baseurl }}{{ nextMeetup.url}}">{{nextMeetup.description}}</a>
</div>
<div class="next-meetup-speaker">
    <a href="{{ site.baseurl }}{{ nextMeetup.url}}">by {{nextMeetup.speaker}}</a>

</div>
    <div class="next-meetup">
{% assign d = nextMeetup.date | date: "%-d"  %}
{{ nextMeetup.date | date: "%B" }}
{% case d %}
{% when '1' or '21' or '31' %}{{ d }}st{% when '2' or '22' %}{{ d }}nd{% when '3' or '23' %}{{ d }}rd{% else %}{{ d }}th{% endcase %}, {{ nextMeetup.date | date: "%Y" }} -
<a href="{{nextMeetup.locationUrl}}">{{nextMeetup.location}}</a>
    </div>

    {% else %}
    no nextMeetup planned
{% endif %}

</div>
</div>
<div class="page-content">
  <div class="wrapper">
{{ content }}
</div>
</div>
