---
layout: default-subpage
---
<div class="post">
  {% if page.image %}
    <div class="featuredImage">
        <img src="{{ '/images/' | prepend: site.baseurl | append: page.image }}" alt="" />
      </div>
  {% endif %}
  <header class="post-header">
    <h1 class="post-title">
      {{ page.title }}
    </h1>
    <h3>{{ page.date | date: '%B %d, %Y' }} | <span class="time">{% assign wordCount = page.content | number_of_words | divided_by: 180 %}{% if wordCount == 0 %}1{% else %}{{ wordCount }}{% endif %}</span> Minute Read</h3>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <!-- About the speaker -->
  {% if page.speaker %}
  {% if page.bio %}
  <h3>About {{page.speaker}}</h3>
  {{page.bio}}
  {% endif %}
  {% endif %}
  {% if page.meetupId %}
  <br/>
  <br/>
  <a href="http://www.meetup.com/Sytac-Dev-Jam/events/{{ page.meetupId }}/" data-event="{{ page.meetupId }}" class="mu-rsvp-btn">Attend this meetup</a>


  {% endif %}
</div>
<!-- AUTHOR CONTACT CARD -->

{% if site.authors[page.author] %}
{% assign author = site.authors[page.author] %}
<div class="avatar">
    <div class="avatar-persona">
        <img src="{{ '/images/authors/' | prepend: site.baseurl | append: author.avatar }}" />
    </div>
    <div class="avatar-bio">
        <h4>by {{author.fullname}}</h4>
        <h5>{{ author.role }} at Sytac IT Consulting</h5>
        <span><em>{{ author.bio }}</em></span>
    </div>
</div>
{% endif  %}
<div id="disqus_thread"></div>
<script type="text/javascript">
 /* * * CONFIGURATION VARIABLES * * */
 var disqus_shortname = 'sytac-engineering';

 /* * * DON'T EDIT BELOW THIS LINE * * */
 (function() {
     var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
     dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
     (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
 })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
