---
layout: index
---
<div class="bar bar-brown">
  <div class="page-content">
    <div class="wrapper wrapper-centered">
      <img src="/images/channels/sytac-engineering.png" alt="Engineering" />
    </div>
  </div>
</div>
<div class="bar bar-blackmetal">
  <div class="page-content">
    <div class="wrapper wrapper-centered">
      <h2 class="description">Engineering articles</h2>
    </div>
  </div>
</div>
<div class="page-content">
  <div class="wrapper">
    <div class="home" id="home">
      <h1 class="pageTitle">Recent articles</h1>
      <ul class="post-list">
        {% for post in site.engineering reversed | sort: 'date' %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          <span>{% if post.description %}{{ post.description | strip_html | collapse_whitespace | truncatewords: 50 }}{% else %}{{ post.content | strip_html | collapse_whitespace | truncatewords: 50 }}{% endif %}</span>
        </li>
        {% endfor %}
      </ul>
      <p class="rss-subscribe">subscribe <a href="{{ " feed.xml " | prepend: site.baseurl }}">via RSS</a></p>

    </div>
  </div>
</div>
